/* * {
    background-color: cyan;
} */
body {
    background-color: #4f86b6;
}

button {
    font-size: 20px;
    background-color: #ffc8dd;
}

h1,
h2 {
    color: #be95c4;
}

#signup {
    background-color: #023047;
    color: #ffb703;
}

span {
    color: #ffc8dd;
}

.tag {
    background-color: #c45668;
    color: #bde0fe;
    font-size: 16px;
}

.post a {
    color: #ffc8dd;
}

footer a {
    color: #ff006e;
}

input+button {
    background-color: antiquewhite;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: lightgreen;
}

input[type="password"] {
    color: greenyellow;
}

section[class="post"] {
    background-color: purple;
}

a[href*="google"] {
    color: blue;
}